{% extends "base.html" %}

{% block content %}
<h1 align='center'>Введите данные для генерации заданий по переводу чисел</h1>
<div>
    <form class="login_form" method="post">
        <div class="form-group">
            <label for="classSelect">Сколько заданий вы хотите решить?</label>
            <select class="form-control" id="numtaskSelect" name="numtask">
                {% for i in range(1,11) %}
                <option>{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="classSelect">Выберите уровень сложности</label>
            <select class="form-control" id="complexitySelect" name="complexity">
                {% for slogn in compl.keys() %}
                <option>{{slogn}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="classSelect">Начальная система счисления</label>
            <select class="form-control" id="notation_inpSelect" name="notation_inp">
                <option>сгенерировать автоматически</option>
                {% for i in range(2,17) %}
                <option>{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="classSelect">Конечная система счисления (если совпадает с начальной, будет сгенерирована
                автоматически)</label>
            <select class="form-control" id="notation_outSelect" name="notation_out">
                <option>сгенерировать автоматически</option>
                {% for i in range(2,17) %}
                <option>{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Готово</button>
    </form>
</div>
{% endblock %}